* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}
.btn {
  padding: 10px 30px;
  background-color: rgb(199, 112, 32);
  color: white;
  font-size: 24px;
  border-radius: 10px;
  border: none;
}
.section-title {
  font-size: 45px;
  color: black;
}
.section-text {
  font-size: 18px;
  color: rgb(122, 121, 121);
}
.primary-color {
  color: rgb(189, 99, 16);
}
.primary-bg-color {
  background-color: rgb(199, 112, 32);
  color: white;
}

.container {
  width: 75%;
  margin: auto;
}

/* banner styles  */
.banner {
  background-image: url("/Images/Group\ 13\ \(1\)\ \(1\).png");
  background-repeat: no-repeat;
  border-radius: 10px;
  background-size: cover;
}
.banner-con {
  padding: 100px 200px;
  text-align: center;
}
.banner-title {
  font-size: 65px;
  font-weight: bold;
  color: white;
}
.banner-text {
  font-size: 25px;
  padding: 20px 0 50px;
  color: white;
}

.banner-form {
  background: rgba(255, 255, 255, 0.3);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.input-field {
  width: 170px;
  padding: 15px;
  border: none;
  border-radius: 5px;
}

/* popular tours Section styles  */
.popular-tours-con {
  margin: 100px 0;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.popular-tours-text {
  flex: 1;
}

.popular-tours-img {
  flex: 1;
}

.popular-tours-text p {
  margin: 40px 0;
}
.popular-tours-text ul {
  margin-left: 20px;
}
.popular-tours-text li {
  margin-bottom: 30px;
}

/* Choose Your Destination section styles */
.destination {
  text-align: center;
  margin-bottom: 100px;
}
.destination-heading {
  margin-bottom: 50px;
}
.img-con {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.grid-item-1 {
  grid-column: 1 / span 6;
  background-image: url(/Images/Rectangle\ 5.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-item-2 {
  grid-column: 7 / span 6;
  background-image: url(/Images/Rectangle\ 8.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-item-3 {
  grid-column: 1 / span 4;
  background-image: url(/Images/Rectangle\ 6.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-item-4 {
  grid-column: 5 / span 5;
  background-image: url(/Images/Rectangle\ 7.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-item-5 {
  grid-column: 10 / span 3;
  background-image: url(/Images/Rectangle\ 9.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-item-6 {
  grid-column: 1 / span 5;
  background-image: url(/Images/Rectangle\ 11.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-item-7 {
  grid-column: 6 / span 7;
  background-image: url(/Images/Rectangle\ 10.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.img-con > div {
  min-height: 300px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

/* Why Choose Us section styles */
.why-choose-heading-con {
  text-align: center;
  width: 50%;
  margin: auto;
}

.double-box-con {
  margin: 30px 0;
  display: flex;
  gap: 30px;
}
.box {
  padding: 30px;
  border-radius: 10px;
}
.single-box-con {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-1 {
  background-color: rgb(217, 217, 238);
}
.box-2 {
  background-color: rgb(230, 252, 230);
}
.box-3 {
  width: 50%;
  background-color: rgb(236, 215, 215);
}
.box img {
  width: 70px;
}
.box h3 {
  font-size: 25px;
  margin: 20px 0;
}
.box p {
  color: rgb(82, 82, 82);
  font-size: 18px;
}

/* Mobile screen view  */
@media screen and (max-width: 600px) {
  /* banner styles  */
  body {
    .container {
      width: 95%;
    }

    .banner-con {
      padding: 10px 20px;
    }

    .banner-title {
      font-size: 35px;
    }
    .banner-text {
      font-size: 15px;
    }
    .banner-form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .input-field {
      width: 100%;
      margin-bottom: 20px;
    }

    /* popular tours section style  */
    .popular-tours-con {
      flex-direction: column;
    }

    /* Choose Your Destination section styles */
    .img-con {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(1, 1fr);
    }
    .grid-item-1 {
      grid-column: 1 / span 1;
    }
    .grid-item-2 {
      grid-column: 1 / span 1;
    }
    .grid-item-3 {
      grid-column: 1 / span 1;
    }
    .grid-item-4 {
      grid-column: 1 / span 1;
    }
    .grid-item-5 {
      grid-column: 1 / span 1;
    }
    .grid-item-6 {
      grid-column: 1 / span 1;
    }
    .grid-item-7 {
      grid-column: 1 / span 1;
    }

    /* Why Choose Us section styles  */
    .why-choose-heading-con {
      width: 100%;
    }
    .double-box-con {
      flex-direction: column;
    }
    .box-3 {
      width: 100%;
    }
  }
}
