* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}
.btn {
  padding: 10px 30px;
  background-color: rgb(199, 112, 32);
  color: white;
  font-size: 24px;
  border-radius: 10px;
  border: none;
}
.primary-color {
  color: rgb(189, 99, 16);
}
.primary-bg-color {
  background-color: rgb(199, 112, 32);
  color: white;
}

.container {
  width: 75%;
  margin: auto;
}

/* banner styles  */
.banner {
  background-image: url("/Images/Group\ 13\ \(1\)\ \(1\).png");
  background-repeat: no-repeat;
  border-radius: 10px;
  background-size: cover;
}
.banner-con {
  padding: 100px 200px;
  text-align: center;
}
.banner-title {
  font-size: 65px;
  font-weight: bold;
  color: white;
}
.banner-text {
  font-size: 25px;
  padding: 20px 0 50px;
  color: white;
}

.banner-form {
  background: rgba(255, 255, 255, 0.3);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.input-field {
  width: 170px;
  padding: 15px;
  border: none;
  border-radius: 5px;
}

/* popular tours Section styles  */
.popular-tours-con {
  border: 2px solid green;
  margin: 100px 0;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.popular-tours-text {
  border: 1px solid red;
  flex: 1;
  font-size: 18px;
  color: rgb(122, 121, 121);
}

.popular-tours-img {
  border: 1px solid orange;
  flex: 1;
}
.popular-tours-title {
  font-size: 45px;
  color: black;
}

.popular-tours-text p {
  margin: 40px 0;
}
.popular-tours-text ul {
  margin-left: 20px;
}
.popular-tours-text li {
  margin-bottom: 30px;
}

/* Mobile screen view  */
@media screen and (max-width: 600px) {
  /* banner styles  */
  body {
    .container {
      width: 95%;
    }

    .banner-con {
      padding: 10px 20px;
    }

    .banner-title {
      font-size: 35px;
    }
    .banner-text {
      font-size: 15px;
    }
    .banner-form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .input-field {
      width: 100%;
      margin-bottom: 20px;
    }

    /* popular tours section style  */
    .popular-tours-con {
      flex-direction: column;
    }
  }
}
